<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>JavaScript, HTML5, CSS3.
        Worked with Vue, Nuxt, React, Angular, different CMS.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-original colored"></i>
      <i class="devicon-vscode-plain colored"></i>
      <p>Git, GitHub, VSCode, Chrome DevTools.
        Trello, Jira. Some additional info here.</p>
    </div>
    <div class="tech">
      <h2>Testing</h2>
      <i class="devicon-jest-plain colored"></i>
      <i class="devicon-selenium-original colored"></i>
      <i class="devicon-mocha-plain colored"></i>
      <p>Cypress, Protractor, Selenium, Jest, Postman.
        Mantis Bug Tracker, TestRail, TestLink.</p>
    </div>
</div>
